<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="build/static/css/main.e02a8701.css" />
    <script src="build/static/js/main.eed145fe.js"></script>
    <script src="build/static/js/787.15a90abb.chunk.js"></script>
</head>
<body>
    <div id="root"></div>
    <script>
        ReactDOM.render(
            <App />,
            document.getElementById('root')
        );
    </script>
</body>
</html>